/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$code-block-font-size: 0.9em;


$link-color: #066;

/*-- scss:rules --*/

.reveal .custom-title {
  font-family: 'Sedan', italic;
  color: #704b10;
  font-size: 2.6em;
  position: absolute; 
  left: 380px; 
  top: 40px
}

.reveal .custom-subtitle {
  font-family: 'Sedan', cursive;
  color: #704b10;
  font-size: 2.0em;
  position: absolute; 
  left: 1190px; 
  bottom: 550px
}

.reveal .custom-author {
  font-family: 'Sedan', cursive;
  color: #704b10;
  position: absolute; 
  text-align: right;
  font-size: 1.6em;
  left: 1400px;
  bottom: 80px;
  line-height: 1.5em;
}



.reveal .title-top h2 {
  font-family: 'Sedan', cursive;
  color: #704b10;
}

.reveal .centrado {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .actividades {
  font-size: 1.4em;
  }
  
  
.reveal pre.sourceCode code { 
   @if variable-exists(code-block-color) { 
     color: $code-block-color; 
   } 
   background-color: $code-block-bg; 
   padding: 6px 9px; 
   max-height: 1000px; 
   white-space: pre; 
 }   
