/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$code-block-font-size: 0.7em;
$presentation-font-size-root: 50px;

$link-color: #af3434;

 

/*-- scss:rules --*/

.reveal .custom-title {
  font-family: 'Special Elite', bold;
  color: #ffffff;
  font-size: 1.8em;
  position: absolute; 
  left: 700px; 
  top: 45px
}

.reveal .custom-subtitle {
  font-family: 'Special Elite', regular;
  color: #ffffff;
  font-size: 1.4em;
  position: absolute; 
  left: -30px; 
  bottom: 300px
}

.reveal .custom-author {
  font-family: 'Special Elite', regular;
  color: #ffffff;
  position: absolute; 
  text-align: right;
  font-size: 1.2em;
  left: 1200px;
  bottom: 70px;
  line-height: 1.5em;
}



.reveal .title-top h2 {
  font-family: 'Atkinson Hyperlegible', regular;
  color: #7c58ce;
  font-size: 1.7em;
}

.reveal .centrado {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .centrar {
  text-align: center;
}

.reveal .actividades {
  font-size: 1.4em;
  color: #ffffff;
  }
  
  
.reveal pre.sourceCode code { 
   @if variable-exists(code-block-color) { 
     color: $code-block-color; 
   } 
   background-color: $code-block-bg; 
   padding: 6px 9px; 
   max-height: 1000px; 
   white-space: pre; 
 }   

.reveal .titulo-columna {
  font-family: 'Special Elite', cursive;
  color: #9f2e16;
  font-size: 1.5em;
}

.reveal .callout.callout-style-default {
 	  font-size: 50px;
}